.tls {
    @import "logo/logo";
    @import "browser-logo/browser-logo";
    @import "image-banner/image-banner";
    @import "browsers/browsers";
    @import "page-footer/page-footer";
    @import "card-grid/card-grid";
    @import "container/container";
    @import "note/note";
}