&-browser-logo {
    &--chrome {
        background-image: url('../images/chrome.png');
    }

    &--firefox {
        background-image: url('../images/firefox.png');
    }

    &--edge {
        background-image: url('../images/edge.png');
    }
}