&__inner {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 5px 8px 12px 0 rgba(46,46,46,.15);
    margin-top: -$space;
    padding: $space-inset-xl;
    position: relative;
    
    @media screen and (min-width: breakpoint(large)) {
        margin: 0;
        width: 50%;

        @import "backdrop";
    }

    .willow-styling-context {
        h1 {
            color: #1D557D;
        }
    }

}